* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #942121;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: baseline;
  align-content: center;
  /* justify-content: safe; */
  justify-self: baseline;
  gap: 20px;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 20px;
}

.card:first-child {
  grid-column: span 2;
}

.card:nth-child(3) {
  grid-row: 2 / span 1;
}

.card:nth-child(4) {
  grid-column: 2 / span 2;
  background: #000000d1;
  color: white !important;
}

.card:nth-child(5) {
  grid-area: 1 / 4 /4 /4;
}

.card__header {
  display: flex;
  gap: 15px;
}

.card__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #942121;
}

.card__name {
  font-size: 1.2rem;
  font-weight: 500;
  /* color: #333; */
}

.card__role {
  font-size: 0.875rem;
}

.card__testimonial__title {
  font-size: 1.5rem;
  /* color: #666; */
  margin-top: 20px;
  font-weight: 600;
}

.card__testimonial__text {
  font-size: 1rem;
  /* color: #333; */
  margin-top: 20px;
}
